* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #eaeaea;
  color: rgba(57, 57, 61, 0.9);
  line-height: 1.6;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.hero-title {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  line-height: 90%;
}

.hero-subtitle {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  line-height: 90%;
}


.highlight {
  color: #ff6f61;
}

.strong {
  font-weight: 900;
  margin-left: 4px;
}

.diorimg {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.cta-button {
  background-color: #d57979;
  filter: blur(1px);
  opacity: 0.9;
  color: white;
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: block;
  margin: 2rem auto;
}